<%= stylesheet_link_tag 'report' %>
<div id="A4potrait">

<form action="#">
 <script>
	document.write("<input type='button' " +
			"onClick='window.print()' " +
			"class='printbutton' " +
			"value='Print This Page'/>");

</script>
</form>	
<fieldset width=10px >


<div id="title">
<table width=100% border="0">
	<tr>
		<th width="2%"><img border="0" style="vertical-align:top" src="/images/KM.jpg" alt="km" width="90" height="90"/></th>
		<th>PUSAT LATIHAN AGENSI PENGUATKUASAAN MARITIM MALAYSIA <BR>JABATAN PERDANA MENTERI<BR><H4><i>Sg. Ular, Gebeng
		26100 Kuantan, Pahang</i></H4></th>
			<th width="2%"><img border="0" src="/images/maritim.png" alt="" width="90" height="90"/></th>
	</tr>
</table>
	<tr><td colspan=3><HR></td></tr> 
</div>
<p class= "titlesmall" align="center"><b>BORANG PERMOHONAN CUTI PELATIH</b></p><BR>

<table width=100% border=0px cellspacing=0 align="center" >
	<tr>
	    <td width="350"></td>
		<td width="350"></td>
		<td width="350">Tarikh :</td>
	</tr>

	<tr>
	    <td width="150" colspan=2 >Nama :</td>
            <td>Sesi :</td>
	</tr>
	
	<tr>
	    <td colspan=2>Kursus : </td>
        <td></td>
	</tr>

	<tr>
	    <td>Cuti Selama : </td>
	    <td >Mulai :</td>
        <td>Hingga :</td>
	</tr>
	<tr>
	    <td colspan=3>Sebab Bercuti :</td>
	</tr>
	
	<tr>
	    <td colspan=3>Alamat Bercuti :</td>
	</tr>
	
	<tr>
	    <td colspan=3>&nbsp;</td>
	</tr>
	
	<tr>
	    <td colspan=2><BR>...................................................<BR>(Tandatangan Pemohon)</td>
		<td>Tarikh: </td>
	</tr>
</table><tr><BR><hr noshade="noshade"/></tr>

<table width=100% border=0px cellspacing=0 align="center" >

	<tr>
	    <td colspan=3 align ="justify"><BR>Permohonan cuti saudara/saudari selama _________ hari mulai __________ hingga ____________
		adalah <b>*Diluluskan / Tidak Diluluskan</b> </td>
            
	</tr>
	

	
	<tr>
	    <td colspan=2><BR><BR><BR>..................................................<BR>Tandatangan Ketua Unit/Bahagian</td>
		<td width="250">Tarikh: </td>
	</tr>
</table><tr><BR><hr noshade="noshade"/></tr>

<p class= "titlesmall" align="center"><b>UNTUK KEGUNAAN PEJABAT</b></p><BR>
	<table width=100% border=0px cellspacing=0 align="center" >
		<tr>
		    <td width="150">Kepada (Pelatih)</td>
			<td>:</td>
			<td></td>
			
		</tr>

		<tr>
		    <td>Kursus/Sesi</td>
	        <td>:</td>
	 		<td></td>
		</tr>

		<tr>
		    <td colspan=3 align="justify"><BR>Saya diarah memaklumkan bahawa permohonan cuti saudara/saudari telah <b>Diluluskan / Tidak Diluluskan </b>
			mulai _________ hingga __________ </td>
	        
		</tr>

	

		<tr>
		    <td colspan=2><BR><BR><BR>...................................................<BR>   b.p Pegawai Pentadbiran</td>
			<td width="250">Tarikh: </td>
		</tr>
	</table>
</fieldset>
<BR>



<div id="hideLink">
	<%= link_to 'BACK', leaveforstudents_path %>
</div>
<BR>
