<h1>New analysispaperexam</h1>

<% form_for(@analysispaperexam) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', analysispaperexams_path %>