<!--<div class="tform">-original code-
	<H2>New Class</H2>
  <table width=100% >

	<tr>
		<td class="leftcol"><label for="klass_no">Class No:</label></td>
		<td><#%= f.text_field :klass_no %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="klass_name">Class Name:</label></td>
		<td><#%= f.text_field :klass_name %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="intake_id">Intake Name:</label></td>
		<td><#%= f.collection_select :intake_id, Student.find(:all), :id, :intake, :include_blank => true %></td>
	</tr>
	
	<tr>
		<td class="leftcol"><label for="programme_id ">Programme Name:</label></td>
		<td><#%= f.collection_select :programme_id, Programme.find(:all), :id, :programme_with_specialisation, :include_blank => true %></td>
	</tr>
	
	
</table>
<BR>-->
	<div class="tform">
	<H2>Classes</H2>
	  <table id="form" width=100% >
	<tr>
	<td class="leftcol"><label for="klass_no">Class No/Name:</label></td>
	<td><%= f.text_field :name %></td>
	</tr>

	<!-- hold until can find solution to intake link
	<tr>
	<td class="leftcol"><label for="klass_name">Intake:</label></td>
	<td><#%= f.collection_select :intake_id, Intake.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	-->
	<tr>
	<td class="leftcol"><label for="programme_id ">Programme Name:</label></td>
	<td><%= f.collection_select :programme_id, Programme.find(:all), :id, :programme_with_specialisation, :include_blank => true %></td>
	</tr>

	<!-- This should filter based on above field -->
	<tr>
	<td class="leftcol"><label for="intake_id">Subject Name:</label></td>
	<td><%= f.collection_select :subject_id, Subject.find(:all), :id, :name, :include_blank => true %></td>
	</tr>
	</table>
	<BR>